{
  "presets": [
    "env"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-async-to-generator",
    [
      "transform-runtime",
      {
          "polyfill": false,
          "regenerator": true
      }
    ],
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "Components": "./src/components",
        "Atoms/*":    "./src/components/atoms",
        "Stateless":  "./src/components/stateless",
        "Templates":  "./src/components/templates",
        "HOC":        "./src/components/hoc",
        "Pages":      "./src/components/pages",
        "Molecules":  "./src/components/molecules",
        "Organisms":  "./src/components/organisms",
        "Store":      "./src/store",
        "Selectors":  "./src/selectors",
        "Constants":  "./src/constants",
        "Ducks":      "./src/ducks",
        "Data":       "./src/data",
        "Utils":      "./src/utils",
        "Layouts":    "./src/layouts",
        "Assets":     "./src/assets"
      }
    }]
  ]
}