{
  "presets": [
    "env"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-async-to-generator",
    [
      "transform-runtime",
      {
          "polyfill": false,
          "regenerator": true
      }
    ],
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "Components": "./src/components",
        "Fields":     "./src/components/fields",
        "Stateless":  "./src/components/stateless",
        "Templates":  "./src/templates",
        "Store":      "./src/store",
        "Constants":  "./src/constants",
        "Ducks":      "./src/ducks",
        "Data":       "./src/data",
        "Utils":      "./src/utils",
        "Pages":      "./src/pages",
        "Layouts":    "./src/layouts",
        "Firebase":   "./src/firebase",
        "Assets":     "./src/assets",
        "HOC":        "./src/hoc"
      }
    }]
  ]
}