:global {
  html, body, #root {
    font-family: 'Istok Web', sans-serif;
    height: 100%;
    background-color: #E5E5E5;
  }
  #root .ant-input {
    background-color: #F9FAFA;
    border: solid #DEE3E1 1px;
  }
  #root .ant-badge {
    height: 30px;
  }
}