:global {
  html, body, #root {
    font-family: 'Istok Web', sans-serif;
    height: 100%;
    background-color: #f9fafa;
  }
  #root .ant-input {
    background-color: #F9FAFA;
    border: solid #DEE3E1 1px;
  }
  #root .ant-badge {
    height: 30px;
  }

  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #f1f1f1;
    border-right: solid rgba(103, 107, 105, 0.5) 2px;
  }

  .ant-menu-root.ant-menu-vertical, .ant-menu-root.ant-menu-vertical-left, .ant-menu-root.ant-menu-vertical-right, .ant-menu-root.ant-menu-inline {
    border: none;
  }

  .ant-menu-root > * :after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0px;
    height: 1px;
    width: 175px;
    margin-left: -87.5px;
    background-color: #DEE3E1;
  }

  .ant-menu-root :last-child :after {
    content: '';
    display: none;
  }

  .program-wrap .ant-select-selection {
    border: none
  }

  .program-wrap .ant-select-selection--multiple {
    cursor: pointer;
  }

  .program-wrap .ant-select-selection__choice {
    padding: 0 5px;
    border: none;
  }

  .program-wrap .ant-select-selection__choice__remove {
    display: none;
  }

  .program-wrap .ant-select-selection--multiple:before {
    content: '\E61D';
    display: block;
    font-family: "anticon" !important;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    right: 11px;
    line-height: 1;
    margin-top: -6px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
  }
}